<h2>About us</h2>
<p> Green day is one of the finest <strong>corporate food delivery service providers</strong> in bangalore,
	 who consistently delights customers by delivering flawless quality of hot and fresh home-made foods.
</p>
<br />
<p> 
	Initially we start with South Indian and North Indian cusine to deliver corporate 
	Employees when they order through online or phone. we are quality king and maintaining specific high quality 
	ingredients which combines to give remarkable taste for our customers.
	
</p>

<p></p>

