<%= content_tag :div, 'Contact us', :class => 'heading' %>

<div class="contact_address">
	<div class="contact_address_sub">
		<span style="font-weight:bold;font-size:20px;font-family:Existence Light;">Green day</span>
		<br />
		<div>
			<span>#6&nbsp;&nbsp;ward&nbsp;&nbsp;no&nbsp;&nbsp;12</span>
			<br />
			<span>4<sup>th</sup>&nbsp;&nbsp;Cross&nbsp;<span style="font-size:21px;">,</span>&nbsp;&nbsp;1<sup>st</sup>&nbsp;&nbsp;main</span>
			<br />
			<span>Mangammanapalaya&nbsp;&nbsp;Road</span>
			<br />
			<span>Bommanahalli&nbsp;<span style="font-size:21px;">
					<br />
				</span>Bangalore</span>, <span>&nbsp;&nbsp;Karnataka&nbsp;-&nbsp;560068</span>
			<br />
			<br />
			<span>Direct&nbsp;&nbsp;:&nbsp;&nbsp;+91&nbsp;&nbsp;78999&nbsp;99200</span>
			<br />
			<span>Email&nbsp;&nbsp;:&nbsp;&nbsp;<a style="color:#fff;">support@thegreenday.in</a> </span>
		</div>
	</div>
</div>
