<table class='dishes'>
	<tr class='subheading'>
		<th width='150px'>Break fast</th><th></th>
	</tr>
	<tr>
		<td>Idly (3 nos.) </td><td>15/-</td>
	</tr>
	<tr>
		<td>Poori (3 nos.) </td><td>20/-</td>
	</tr>
	<tr>
		<td>Plain Dosa</td><td> 15/-</td>
	</tr>
	<tr>
		<td>Kal Dosa</td><td> 10/- </td>
	</tr>
	<tr>
		<td>Set Dosa </td><td>15/-</td>
	</tr>
	<tr>
		<td>Masal Dosa</td><td> 20/- </td>
	</tr>
	<tr>
		<td>Ghee Roast </td><td>25/-</td>
	</tr>
	<tr>
		<td>Onion Dosa </td><td>20/- </td>
	</tr>
	<tr>
		<td>Podi Dosa</td><td>20/-</td>
	</tr>
	<tr>
		<td>Uthappam </td><td>15/-</td>
	</tr>
	<tr>
		<td>Onion Uthappam </td><td>20/-</td>
	</tr>
	<tr>
		<td>Podi Uthappam </td><td>20/-</td>
	</tr>
</table>
<table class='dishes'>
	<tr class='subheading'>
		<th width='150px'>Dinner</th><th></th>
	</tr>
	<tr>
		<td>Veg. Noodles</td><td>20/-</td>
	</tr>
	<tr>
		<td>Veg. Fried Rice</td><td>20/-</td>
	</tr>
	<tr>
		<td>Egg Noodles</td><td>25/-</td>
	</tr>
	<tr>
		<td>Egg Fried Rice</td><td>25/-</td>
	</tr>
	<tr>
		<td>Kothu Parota</td><td>30/-</td>
	</tr>
	<tr>
		<td>Omelette</td><td>8/-</td>
	</tr>
	<tr>
		<td>Plain Omelette</td><td>8/-</td>
	</tr>
	<tr>
		<td>Half Boiled Egg</td><td>8/-</td>
	</tr>
	<tr>
		<td>Masala Omelette</td><td>10/-</td>
	</tr>
	<tr>
		<td>Egg Burji</td><td>15/-</td>
	</tr>
</table>
<table class='dishes'>
	<tr class='subheading'>
		<th width='180px'>Lunch</th><th></th>
	</tr>
	<tr>
		<td>Meals </td>
		<td> 35/- </td>
	</tr>
	<tr>
		<td>Curd Rice</td><td>20/-</td>
	</tr>
	<tr>
		<td> Veg. Biriyani </td><td>30/-</td>
	</tr>
	<tr>
		<td> Plain Biriyani </td><td>30/-</td>
	</tr>
	<tr>
		<td> Egg Biriyani </td><td>35/-</td>
	</tr>
	<tr>
		<td> Chicken Biriyani </td><td>50/-</td>
	</tr>
	<tr>
		<td> Chapati </br>(Veg. / Non Veg. Koruma) </td><td>7/- </td>
	</tr>
	<tr>
		<td> Parota </br>(Veg. / Non Veg. Koruma) </td><td> 8/- </td>
	</tr>
</table>
