<%= content_tag :div, 'Home', :class => 'heading' %>
<div class='update_left'>
	<%= content_tag :div, 'We Introduced', :class => 'subheading' %>
	<p>
		Break Fast Delivery
	</p>
	<p>
		Reward Points
	</p>
</div>
<div class='update_right'>
	<%= content_tag :div, 'Every thing online soon...', :class => 'subheading' %>
	<p>
		Check Balance
	</p>
	<p>
		Reward Points
	</p>
	<p>
		Offers
	</p>
</div>
<div class='offers'>
	<%= content_tag :div, 'Offers', :class => 'subheading offer_heading' %>
	<p>
		Now we deliver BREAK FAST @ your home
	</p>
	<p>
		Get 5 Reward Points for Facebook Like & Share
	</p>
	<p>
		For each 10/- purchase get 1 Reward Point
	</p>
	<p>
		For every 25 reward points you will get 25/- worth dish and a complementary
	</p>
</div>