<h2>Our Menu</h2>
<p>
	Below is our menu
</p>
<ul id="bf_dishes">
	<li>
		<a href="#"><img src="assets/thumbs/1.jpg" alt="thumb1"/></a>
	</li>
	<li>
		<a href="#"><img src="assets/thumbs/2.jpg" alt="thumb2"/></a>
	</li>
	<li>
		<a href="#"><img src="assets/thumbs/3.jpg" alt="thumb3"/></a>
	</li>
	<li>
		<a href="#"><img src="assets/thumbs/4.jpg" alt="thumb4"/></a>
	</li>
	<li>
		<a href="#"><img src="assets/thumbs/5.jpg" alt="thumb5"/></a>
	</li>
	<li>
		<a href="#"><img src="assets/thumbs/6.jpg" alt="thumb6"/></a>
	</li>
</ul>
