<li>
	<a href="#" data-content=<%= MENU_LIST[menu] %>><span class="bf_hover"></span><span><%= menu %></span></a>
</li>
<!-- <li>
	<a href="#" data-content="about_us"><span class="bf_hover"></span><span>About us</span></a>
</li>
<li>
	<a href="#" data-content="menu"><span class="bf_hover"></span><span>Our Menu</span></a>
</li>
<li>
	<a href="#" data-content="contact_us"><span class="bf_hover"></span><span>Contact us</span></a>
</li> -->