<div class="bf_page1" id="home">
	<div class="bf_content_text">
		<%= render 'green_day/content_partials/home_page' %>
	</div>
</div>
<div class="bf_page" id="about_us">
	<div class="bf_content_text">
		<%= render 'green_day/content_partials/about_us_page' %>
	</div>
</div>
<div class="bf_page" id="menu">
	<div class="bf_content_text">
		<%= render 'green_day/content_partials/menu_page' %>
	</div>
</div>
<div class="bf_page" id="contact_us">
	<div class="bf_content_text">
		<%= render 'green_day/content_partials/contact_us_page' %>
	</div>
</div>
<div class="bf_page" id="empty_page">
	<div class="bf_content_text"></div>
</div>
