<div class="bf_page" id="home" style="display:block;">
	<div class="bf_content_text">
		<%= render 'green_day/content_partials/home_page' %>
	</div>
</div>
<div class="bf_page" id="about_us">
	<div class="bf_content_text">
		<%= render 'green_day/content_partials/about_us_page' %>
	</div>
</div>
<div class="bf_page" id="menu">
	<div class="bf_content_text">
		<%= render 'green_day/content_partials/menu_page' %>
	</div>
	<div id="bf_gallery" class="bf_gallery">
		<a id="bf_close" href="#" class="bf_close"></a>
		<div class="bf_nav">
			<a id="bf_prev" href="#" class="bf_prev"></a>
			<a id="bf_next" href="#" class="bf_next"></a>
		</div>
		<!-- 					<div class="bf_gallery_wrapper">
		<div class="bf_gallery_item">
		<div class="bf_heading">
		<h2>Pizza Rustica</h2>
		</div>
		<div class="bf_desc">
		<p>
		Fresh ingredients and authentic flavours
		</p>
		</div>
		<img src="assets/foreground/1.jpg" alt="image1" data-bgimg="assets/background/1.jpg" />
		</div>
		<div class="bf_gallery_item">
		<div class="bf_heading">
		<h2>Pizza Quattro Stagioni</h2>
		</div>
		<div class="bf_desc">
		<p>
		Originality meets tradition
		</p>
		</div>
		<img src="assets/foreground/2.jpg" alt="image1" data-bgimg="assets/background/2.jpg" />
		</div>
		<div class="bf_gallery_item">
		<div class="bf_heading">
		<h2>Rucolini</h2>
		</div>
		<div class="bf_desc">
		<p>
		Dive into the balance of taste
		</p>
		</div>
		<img src="assets/foreground/3.jpg" alt="image1" data-bgimg="assets/background/3.jpg" />
		</div>
		<div class="bf_gallery_item">
		<div class="bf_heading">
		<h2>Salsicce Boscaiola</h2>
		</div>
		<div class="bf_desc">
		<p>
		The right intensity
		</p>
		</div>
		<img src="assets/foreground/4.jpg" alt="image1" data-bgimg="assets/background/4.jpg" />
		</div>
		<div class="bf_gallery_item">
		<div class="bf_heading">
		<h2>Tortelloni Alla Zucca</h2>
		</div>
		<div class="bf_desc">
		<p>
		Incredibly tasty perfection
		</p>
		</div>
		<img src="assets/foreground/5.jpg" alt="image1" data-bgimg="assets/background/5.jpg" />
		</div>
		<div class="bf_gallery_item">
		<div class="bf_heading">
		<h2>Calamaretti Fritti</h2>
		</div>
		<div class="bf_desc">
		<p>
		Combine chunky and soft
		</p>
		</div>
		<img src="assets/foreground/6.jpg" alt="image1" data-bgimg="assets/background/6.jpg" />
		</div>
		</div> -->
	</div>
</div>
<div class="bf_page" id="contact_us">
	<div class="bf_content_text">
		<%= render 'green_day/content_partials/contact_us_page' %>
	</div>
</div>