<!DOCTYPE html>
<html>
<head>
  <title>GreenDay</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p> Green day is one of the finest corporate food delivery service providers in bangalore,who consistently delights customers by delivering flawless quality
of hot and fresh home-made foods
</p>

</body>
</html>
